*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
        font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
}

body{
/* background-color: rgba(255, 255, 255, 0.638); */
}

html{
  scroll-behavior: smooth;
}

.roboto{
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }

  nav{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 280px;
    padding: 15px;
  }
.logo h1{
    cursor: pointer;
      font-weight: 900;
        font-family: "Ancizar Serif", serif;
        font-optical-sizing: auto;
  font-weight: weight;
  font-style: normal;
}

.logo h1 span{
color: blue;
}

  nav ul{
    display: flex;
    gap: 40px;
  }

  nav ul li{
    list-style: none;
  }

  nav ul li a {
    position: relative;
    text-decoration: none;
    font-weight: 350;
    color: black;
  }
  
  nav ul li a::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    height: 2px;
    background-color: rgb(222, 72, 18);
    transition: width 0.3s ease-in-out;
  }
  
  nav ul li a:hover::after {
    width: 100%;
  }
  
  
  nav ul li a:hover{
    text-decoration: none;
  }

 .active{
 color: #cf2e2e }

 .nav_btn button {
 background-color:#e7194f ;
 color: white;
 padding: 15px 40px;
 border: none;
 border-radius: 5px;
 font-size: 18px;
  }

  .nav_btn button:hover{
    background-color: #cf2e2e;
    cursor: pointer;
  }


/*   hero section */

#hero{
    display: flex;
    justify-content: center;
    gap: 50px;
    padding: 100px;
}

#hero .left{
    width: 40%;
    position: relative;
    top: 80px;
}

#hero .left h3{
    font-weight:360;
    display: flex;
    gap: 10px;
    letter-spacing: 2px;
}

#hero .left h3 span{
   color: #e7194f;
}

.left h1{
    color: #00205b;
    font-size: 55px;
    font-weight: 900;
    height: 20vh;
    font-weight:bold;
    margin-top: 10px;
}

.left p{
    font-weight:360;
    letter-spacing: 5;
}

#hero .right img{
    border-radius: 10px;
    width: 40vw;
    height: 90vh;
    position: relative;
    bottom: 0px;
  z-index: 10;
}



/* our story */
.about{
  padding: 100px;
  width: 100%;
  justify-self: center;
  background-color: #f1f6fa;
}

#about{
  display: flex;
  gap: 100px;
  justify-self: center;
  margin: 0 auto;
}

.about-left{
  display: grid;
  color: #021945;
}


.about-left .style{
  padding: 25px;
  background-color:#00205b;
  color: white;
  position: relative;
  width: 16vw;
  bottom: 70px;
  left: 330px;
  border-radius: 10px;
}

.about-left .style span{
  display: flex;
  gap: 10px;
}

.about-left .style  p{
justify-self: center;
}

.about-left .style span i{
  font-size: 30px;
}

.about-rigth{
  width: 40vw;
}

.about-left img{
  border-radius: 10px;
}

.about-rigth h3{
  font-weight:360;
display: flex;
  gap: 10px;
  letter-spacing: 2px;
  margin-bottom: 20px;
}

.about-rigth h3 span{
color: #e7194f;
}

.about-rigth h1{
  font-size: 50px;
  color: rgb(3, 3, 66)
}

.about-rigth p{
  color: rgba(0, 0, 0, 0.727);
 margin-top: 20px;
 margin-bottom: 25px;
}

.bottom-left{
  display: flex;
  gap: 10px;
}


.bottom-left i{
  background-color: rgb(4, 4, 79);
padding: 19px;
color: white;
border-radius: 50px;
}
.bottom-rigth{
  display: flex;
  gap: 10px;
}

.bottom-rigth i{
  background-color: rgb(4, 4, 79);
  padding: 19px;
  color: white;
  border-radius: 50px;
}

.bottom-left span{
  position: relative;
  top: 10px;
}

.bottom-left span h4{
  font-weight: 400;
}

.bottom-rigth span{
  position: relative;
  top: 10px;
}

.bottom-rigth span h4{
  font-weight: 400;
}


.flex{
  display: flex;
  gap: 20px;
  margin-bottom: 25px;
}

.flex h5{
  font-size: 20px;
}

.flex hr{
  height: 5vh;
  font-weight: bold;
}

.flex i{
font-size: 30px;
background-color: #031538;
color: white;
padding: 15px;
border-radius: 50px;
}


.flex span{
  font-size: 24px;
  font-weight: 300px;
  word-break: normal;
  word-wrap: break-word;
}

.good i{
  background-color: #031538;
  color: white;
  border-radius: 10px;
}


.about-button button{
  border: none;
  padding: 15px 30px;
  background-color: #e7194f;
  border-radius: 5px;
  color: white;
  font-size: 15px;
}

.about-button button:hover{
background-color: #cf2e2e;
cursor: pointer;
}


/* teams */

.about-cen{
  background-color: #00205b;
  color: white;
  padding: 100px;
}


.about-cen h1{
  font-size: 50px;
  font-weight: bolder;
  text-align: center;
}

.about-cen h3{
    font-weight:360;
  display: flex;
  justify-content: center;
    gap: 10px;
  text-align: center;
    letter-spacing: 2px;
    margin-bottom: 20px;
}

.about-cen span{
  color: #e7194f;
}

.doors{
  justify-self: center;
  display: flex;
  gap: 30px;
  padding: 30px;
}

.goods{
display: flex;
gap:25px;
overflow: hidden;
width: 26vw;
border-radius: 15px;
height: 30vh;
background-color: white;
}

.goods .strong{
  background-color: #e7194f;
  height: 10vh;
padding: 20px 30px;
border: none;
}

.goods .strong i{
  font-size: 25px;
  display: block;
  color: white;
}

.goods .easy{
  position: relative;
  top: 30px;
  color: #031538;
  width: 14vw;
}

.goods h2{
  font-size: 30px;
}

.goods p{
  line-height: 25px;
  margin-top: 10px;
  position: relative;
  color: #031538b75;
}

/* footer hero */
.foot-hero{
    background-image: url(/img/footer-img.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin-top: 150px;
    }
    
    .footer_hero{
      padding: 150px;
    }
    
    .foot-hero .ri-paint-brush-fill{
      font-size: 50px;
      color: white;
      border: 3px solid white;
      border-radius: 50px;
      padding: 10px;
      position: relative;
      bottom: 50px;
    }
    
    .footer_hero h1{
      color: white;
      font-size: 50px;
    }
    
    .footer_hero button{
      background-color:#e7194f;
      border: none;
      padding: 20px 40px;
      font-size: 15px;
      color: white;
      border-radius: 5px;
      position: relative;
      top: 40px;
      cursor: pointer;
    }
    
    .footer_hero button:hover{
      background-color: #cf2e2e;
      }
    
    .footer_hero button i{
      background-color: white;
        color: #e7194f;
        border-radius: 10px;
    }
    
    /* main footer */
    
    footer{
      background-color: rgb(4, 4, 79);
    }
    
    .foot1{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      gap: 290px;
      padding: 15px;
      padding: 40px;
    }
    
    .foot1 .logo{
      filter: brightness(0) invert(1); 
      cursor: pointer;
    }
    
    .foot1 ul{
      display: flex;
      gap: 40px;
    }
    
    .foot1 ul li{
      list-style: none;
    }
    
    .foot1 ul li a {
      position: relative;
      text-decoration: none;
      font-weight: 350;
      color: white;
    }
    
    .foot1 ul li a::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -4px;
      width: 0;
      height: 2px;
      background-color:#00205b;
      transition: width 0.3s ease-in-out;
    }
    
    .foot1 ul li a:hover::after {
      width: 100%;
    }
    
    
    .foot1 ul li a:hover{
      text-decoration: none;
      color: #e7194f;
    }
    
    .foot1 .active{
      color: #e7194f;
    }
    
    .foot_contact{
      display: flex;
      gap: 30px;
    }
    
    .foot_contact li{
     list-style: none;
    }
    
    .foot_contact li a{
      text-decoration: none;
      color: white;
      font-size: 20px;
    }
    
    .foot_contact li a:hover{
    color: #e7194f;
    }
    
    .foot2{
      display: flex;
      justify-content: center;
      padding: 40px;
    }
    
    .foot2 h3{
      color: white;
      font-weight: 300;
      justify-self: center;
      transform: translate(210%);
      text-align: center; 
    }
    
    .foot2 a{
      color: white;
      background-color: #e7194f;
      padding: 10px;
      font-size: 20px;
      cursor: pointer;
      text-decoration: none;
      border-radius: 5px;
      margin-left: auto;
    }
    
    .foot2 a:hover{
    background-color: #cf2e2e;
    }
    

    
@media (max-width: 769px){
nav {
    display: flex
;
    flex-wrap: nowrap;
    align-items: center;
    gap: 0px;
    justify-content: space-between;
    padding: 10px;
}

nav ul {
    display: flex
;
    gap: 60px;
    display: none;
}

nav button{
  display: none;
}

#hero {
    display: flex
;
flex-direction: column;
    justify-content: center;
    gap: 25px;
    padding: 10px;
    justify-content: center;
    padding-top: 50px;
}

#hero .left {
    width: auto;
    position: relative;
    top: 0px;
}

#hero .left h3 {
    gap: 5px;
    font-size: 15px;
}

#hero .right img {
    border-radius: 10px;
    width: 90vw;
    height: 50vh;
    position: relative;
    bottom: 0px;
    z-index: 10;
}

.left h1 {
    color: #00205b;
    font-size: 20px;
    font-weight: 750;
    height: 4vh;
}

.left p {
    line-height: 21px;
    font-size: 15px;
}

.about {
    padding: 0px;
    width: 94.5vw;
    overflow: hidden;
    padding-top: 50px;
    padding-bottom: 50px;
    justify-self: center;
    background-color: #f1f6fa;
}

#about {
    display: flex
;
flex-direction: column-reverse;
    gap: 50px;
    justify-self: center;
    margin: 0 auto;
}

.about-rigth {
    width: 100vw;
    padding: 10px;
}

.about-rigth h3 {
    font-size: 15px;
    gap: 5px;
    letter-spacing: 1px;
    margin-bottom: 0px;
}

.about-rigth h1 {
    font-size: 20px;
}

.about-rigth p {
    font-size: 15px;
    margin-top: 10px;
    margin-bottom: 5px;
}


.about-left img {
    border-radius: 30px;
    width:100vw;
    padding: 10px;
}

.about-left .style {
    padding: 25px;
    background-color: #00205b;
    color: white;
    position: relative;
    width: 60vw;
    bottom: 70px;
    left: 30px;
    border-radius: 10px;
}

.about-cen {
    padding: 0px;
      padding-top: 50px;
    padding-bottom: 50px;
}

.about-cen h3 {
    font-size: 15px;
    gap: 5px;
    margin-bottom: 10px;
}

.about-cen h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.doors {
    justify-self: center;
    display: flex
;
flex-direction: column;
    gap: 30px;
    padding: 0px;
}

.goods {
    display: flex
;
    gap: 25px;
    width: 80vw;
    height: 25vh;
  }


  .goods .easy {
    position: relative;
    top: 10px;
    color: #031538;
    width: 50vw;
}

.goods h2 {
    font-size: 20px;
}

.goods p {
    line-height: 21px;
}

.foot-hero {
    margin-top: 0px;
}

.footer_hero {
    padding: 0px;
}

.foot-hero .ri-paint-brush-fill {
    font-size: 50px;
    color: white;
    border: 3px solid white;
    border-radius: 50px;
    padding: 5px;
    position: block;
    top: 20px;
    bottom: 0px;
}

.footer_hero h1 {
    color: white;
    font-size: 25px;
    padding: 20px;
    margin-top: 25px;
}

.footer_hero button {
display: none;
}

/* footer */
.foot1 {
    display: flex
;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 30px;
}

.foot1 .logo {
 margin-bottom: 20px;
 width: 40vw;
}

.foot1 ul {
margin-bottom: 30px;
}

.foot1 .active
 {
  font-size: 10px;
}

.foot_contact li a {
    font-size: 15px;
}

.foot2 {
    display: grid
;
    padding: 10px;
    text-align: c;
}
.foot2 h3 {
    transform: translate(0%);
    text-align: center;
    font-size: 10px;
}

.foot2 a {
display: none;
}
}