*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
}

.container{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

.ring{
    width: 300px;
    height: 300px;
    border: 0px solid black;
    border-radius: 50%;
    position: absolute;
}

.ring:nth-child(1){
    border-bottom-width: 8px;
    border-color: rgb(255,0,255);
    animation: rotate 1s linear infinite;
}

.ring:nth-child(2){
    border-right-width: 8px;
    border-color: rgb(0,247,255);
    animation: rotate 2s linear infinite;
}

.ring:nth-child(3){
    border-top-width: 8px;
    border-color: rgb(0, 255, 153);
    animation: rotate3 2s linear infinite;
}

.loading{
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


@keyframes rotate{
    0%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(-45deg) rotateZ(360deg);
    }
}

@keyframes rotate2{
    0%{
        transform: rotateX(50deg) rotateY(10deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(50deg) rotateY(-10deg) rotateZ(360deg);
    }
}

@keyframes rotate3{
    0%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(0deg);
    }
    100%{
        transform: rotateX(35deg) rotateY(55deg) rotateZ(360deg);
    }
}

